@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@font-face {
    font-family: "Satisfy";
    src: url(ressources/fonts/Satisfy-Regular.ttf);
}

@font-face {
    font-family: "Merienda";
    src: url(/ressources/fonts/Merienda-Regular.ttf);
}

@font-face {
    font-family: "DancingScript";
    src: url(ressources/fonts/DancingScript-Regular.ttf);
}

@font-face {
    font-family: "Caveat";
    src: url(ressources/fonts/Caveat-Regular.ttf);
}

@font-face {
    font-family: "RobotoSlab";
    src: url(/ressources/fonts/RobotoSlab-Regular.ttf);
}

html {
    --noir: #212121;
    /*color material design grey 900*/
    --blanc: #FAFAFA;
    /*color material design grey 50*/
    --gris: #9E9E9E;
    /*color material design grey 500*/
    --rose_1: #ffcdd2;
    /*color material design red 100*/
    --rose_2: #ffebee;
    /*color material design red 50*/
    --vert_1: #009688;
    /*color material design teil 500*/
    --vert_2: #388E3C;
    /*color material design green 700*/
    --jaune_1: #FFEB3B;
    /*color material design yellow 500*/
    --marron-1: #3E2723;
    /*color material design brown 00*/
    --orange_1: #f44336;
    /*color material design red 500*/
    --bleu_1: #90CAF9;
    /*color material design blue 200*/
}

body {
    width: 60%;
    background-color: black;
    margin: auto;
}

.container_principal {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
}

header {
    width: 100%;
    height: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009688;
    /*color material design teil 500*/
}

h1 {
    color: #FFEB3B;
    /*color material design yellow 500*/
    font-size: 4em;
    font-family: sans-serif;
    letter-spacing: -0.10em;
    text-align: center;
}

.container_menu {
    width: 100%;
    background-color: #fff;
    padding-bottom: 7.5em;
}

.seize_lien_menu {
    width: 45%;
    height: 40em;
    box-shadow: 0 0 1.5em #9E9E9E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color_menu_1 {
    background-color: #ffcdd2;
    /*color material design red 100*/
}

.seize_texte_1 {
    color: #3E2723;
    text-decoration: none;
    font-size: 4em;
    font-family: "Caveat";
}

.degrader_menu_1 {
    color: #3E2723;
    font-family: "Satisfy";
    margin-bottom: 0.75em;
    font-size: 2.5em;
}

.color_menu_2 {
    background-color: #ffebee;
    /*color material design red 50*/
}

.seize_texte_2 {
    color: #f44336;
    text-decoration: none;
    font-size: 4em;
    font-family: "RobotoSlab";
}

.degrader_menu_2 {
    font-family: "Merienda";
    font-size: 2em;
    margin-bottom: 0.75em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, #f44336, #673AB7);
}

.color_menu_3 {
    background-color: #ECEFF1;
    /*color material design blue grey 50*/
}

.seize_texte_3 {
    color: #90CAF9;
    text-decoration: none;
    font-size: 4em;
    font-family: "Caveat";
}

.degrader_menu_3 {
    font-family: "DancingScript";
    font-size: 3em;
    margin-bottom: 0.75em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, #1A237E, #90CAF9);
}

.color_menu_4 {
    background-color: #FAFAFA;
    /*color material design grey 50*/
}

.seize_texte_4 {
    color: #388E3C;
    text-decoration: none;
    font-size: 4em;
    font-family: "Caveat";
}

.degrader_menu_4 {
    font-family: "Caveat";
    font-size: 3.5em;
    margin-bottom: 0.75em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, #388E3C, #76FF03);
}

.fa-music {
    font-size: 5em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, #f44336, #FFAB91);
}

.flex_lien_menu {
    padding: 4em 2em 0 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex_lien_prochainement {
    padding-top: 4em;
    display: flex;
    justify-content: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 60%;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
    background-color: #009688;
    /*color material design teil 500*/
}

.lien_footer {
    text-decoration: none;
    color: #FFEB3B;
    font-family: sans-serif;
}

.lien_prochainement {
    color: #FFEB3B;
    text-decoration: none;
    font-family: sans-serif;
    width: 20%;
    background-color: #009688;
    font-size: 2em;
    border-radius: 10px;
    padding: 0.3em 1.5em 0.3em 1.5em;
}

.titre_menu_1 {
    text-align: center;
    font-size: 2em;
    font-family: "RobotoSlab";
    font-family: sans-serif;
}

.menu_1_h2_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_menu_1 {
    margin: auto;
    width: 80%;
    background-color: #ffcdd2;
    font-family: "DancingScript";
    color: #3E2723;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0 2.5em 0;
}

.container_menu_1_1 {
    display: flex;
    flex-direction: row;
}

.seize_icon_fin {
    font-size: 2em;
    padding-right: 0.3em;
}

.icons_1 {
    font-size: 3em;
}

.align_prix_p1 {
    padding-left: 3em;
}

.align_prix_p2 {
    padding-left: 4em;
}

.align_p3 {
    padding-right: 3em;
}

.menu_1_fin {
    display: flex;
    flex-direction: row;
}