            @font-face {
                font-family: "Roboto";
                src: url(/public/ressources/fonts/Roboto-Regular.ttf);
                /*police générale*/
            }
            
            @font-face {
                font-family: "Devonshire";
                src: url(/public/ressources/fonts/Devonshire-Regular.ttf);
                /*police menu 1*/
            }
            
            @font-face {
                font-family: "CroissantOne";
                src: url(/public/ressources/fonts/CroissantOne-Regular.ttf);
                /*police menu 2*/
            }
            
            @font-face {
                font-family: "RobotoSlab";
                src: url(/public/ressources/fonts/RobotoSlab-Regular.ttf);
                /*police menu 2 "menu"*/
            }
            
            @font-face {
                font-family: "DancingScript";
                src: url(ressources/fonts/DancingScript-Regular.ttf);
                /*police menu 3*/
            }
            
            @font-face {
                font-family: "KaushanScript";
                src: url(/public/ressources/fonts/KaushanScript-Regular.ttf);
                /*police menu 4*/
            }
            
            @font-face {
                font-family: "Segoe_Print_Bold";
                src: url(/public/ressources/fonts/Segoe_Print_Bold.ttf);
                /*police pargraphes menu 1.3.4*/
            }
            
            @font-face {
                font-family: "Segoe_Print_Regular";
                src: url(/public/ressources/fonts/segoepr.ttf);
                /*police pargraphes menu 1.3.4*/
            }
            
            @font-face {
                font-family: "Pax_bold";
                src: url(/public/ressources/fonts/Pax\ 2\ Bold.ttf);
                /*police pargraphes menu 1.3.4*/
            }
            
            @font-face {
                font-family: "Pax_regular";
                src: url(/public/ressources/fonts/Pax\ 2\ Regular.ttf);
                /*police pargraphes menu 1.3.4*/
            }
            
            * {
                margin: 0;
            }
            
            html {
                font-family: "Roboto";
                /*-----couleur titre principale et fond du site-----*/
                --noir: #212121;
                --blanc: #FAFAFA;
                --vert_titre: #579C87;
                --jaune_titre: #FDCB46;
                --ombres: #BDBDBD;
                /*------couleurs menu 1------*/
                --fond_menu_1: #FCDFDB;
                --font_menu_1: #3D1319;
                --icon_menu_1_1: #F05060;
                --icon_menu_1_2: #F6916A;
                /*------couleurs menu 2------*/
                --fond_menu_2: #FFF5FE;
                --font_menu_2_1: #C77412;
                --font_menu_2_2: #A56799;
                --font_menu_2_3: #6E4CCC;
                /*------couleurs menu 3------*/
                --fond_menu_3: #EDEFEF;
                --font_menu_0: #0887FB;
                --font_menu_3_1: #0023DB;
                --font_menu_3_2: #0670F3;
                --font_menu_3_3: #229DF9;
                /*------couleurs menu 4------*/
                --fond_menu_4: #FDFFFD;
                --font_menu_4_0: #72BF56;
                --font_menu_4_1: #3E923A;
                --font_menu_4_2: #BEFF7F;
            }
            /*--------couleurs de fond des menu index.html et menu1,2,3,4.html*/
            
            .color_menu_1 {
                background-color: var(--fond_menu_1);
            }
            
            .color_menu_2 {
                background-color: var(--fond_menu_2);
            }
            
            .color_menu_3 {
                background-color: var(--fond_menu_3);
            }
            
            .color_menu_4 {
                background-color: var(--fond_menu_4);
            }
            /*------élements du body-------*/
            
            body {
                width: 70%;
                background-color: var(--noir);
                margin: auto;
            }
            
            .margin_index {
                padding-top: 1em;
            }
            /*-----index.html-----*/
            
            .titre_principal {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--vert_titre);
                padding: 2.5em 0 2.5em 0;
            }
            
            .style_a {
                text-decoration: none;
            }
            
            h1 {
                color: var(--jaune_titre);
                font-size: 5em;
                font-family: sans-serif;
                letter-spacing: -0.1em;
                text-align: center;
            }
            
            .font_seize_sous_titre {
                padding-top: 0.8em;
                font-family: "Pax_bold";
                font-family: sans-serif;
                font-size: 3em;
            }
            
            .container_menu {
                width: 100%;
                background-color: var(--blanc);
                padding-bottom: 7.5em;
            }
            
            .flex_paragraphe {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            
            .seize_lien_menu {
                text-decoration: none;
                width: 40%;
                height: 45em;
                box-shadow: 0 0 1.5em var(--ombres);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
            .seize_texte_1 {
                color: var(--font_menu_1);
                text-decoration: none;
                font-size: 4em;
                font-family: "Segoe_Print_Bold";
                padding-top: 0.4em;
            }
            
            .degrader_menu_1 {
                color: var(--font_menu_1);
                font-family: "Devonshire";
                font-size: 3em;
                font-weight: normal;
            }
            
            .seize_texte_2 {
                color: var(--font_menu_2_1);
                text-decoration: none;
                font-size: 4em;
                font-family: "Pax_bold";
                padding-top: 0.4em;
            }
            
            .degrader_menu_2 {
                font-family: "CroissantOne";
                font-size: 2.3em;
                font-weight: normal;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-image: -webkit-linear-gradient(left, var(--font_menu_2_1), var(--font_menu_2_2), var(--font_menu_2_3));
            }
            
            .seize_texte_3 {
                color: var(--font_menu_0);
                text-decoration: none;
                font-size: 4em;
                font-family: "Segoe_Print_Regular";
                padding-top: 0.8em;
            }
            
            .degrader_menu_3 {
                font-family: "DancingScript";
                font-size: 3.3em;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-image: -webkit-linear-gradient(left, var(--font_menu_3_1), var(--font_menu_3_2), var(--font_menu_3_3));
            }
            
            .seize_texte_4 {
                color: var(--font_menu_4_0);
                text-decoration: none;
                font-size: 4em;
                font-family: "Segoe_Print_Regular";
                padding-top: 0.4em;
            }
            
            .degrader_menu_4 {
                font-family: "KaushanScript";
                font-size: 3.3em;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-image: -webkit-linear-gradient(left, var(--font_menu_4_1), var(--font_menu_4_2));
            }
            
            .fa-music {
                font-size: 5em;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-image: -webkit-linear-gradient(left, var(--icon_menu_1_1), var(--icon_menu_1_2));
            }
            
            .flex_lien_menu {
                padding: 4em 2em 0 2em;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
            
            .lien_prochainement {
                color: var(--jaune_titre);
                text-decoration: none;
                font-family: sans-serif;
                width: 20%;
                background-color: var(--vert_titre);
                font-size: 2.5em;
                border-radius: 10px;
                padding: 0.5em 1.5em 0.5em 1.5em;
                text-align: center;
            }
            
            .flex_lien_prochainement {
                padding-top: 4em;
                display: flex;
                justify-content: center;
            }
            
            footer {
                position: fixed;
                bottom: 0;
                width: 70%;
            }
            
            .padding_lien_footer {
                height: 2em;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                font-size: 2em;
                background-color: var(--vert_titre);
                padding: 0 2em 0 2em;
            }
            
            .lien_footer {
                text-decoration: none;
                color: var(--jaune_titre);
                font-family: sans-serif;
            }
            /*-------partie commune des 4 menu.html-------*/
            /*-----placement de titres et des paragraphes-----*/
            
            .center_h2 {
                text-align: center;
            }
            
            .withd_container_menus {
                width: 80%;
                margin: auto;
                padding: 5em 0 3em 0;
            }
            
            .padding_soustitre_2 {
                padding-bottom: 0.8em;
            }
            /*------menu 1------*/
            
            .padding_text {
                padding: 0 5em 0 5em;
            }
            
            .padding_titre {
                padding-left: 6.5em;
                padding-right: 6.5em;
            }
            
            .color_font_texte_menu_1 {
                font-family: "Devonshire";
                color: var(--font_menu_1);
            }
            
            .flex_icon_bas_p1 {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            
            .flex_ligne_m1 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
            
            .font_seize_titre_p1 {
                margin: 0;
                padding-bottom: 0.5em;
                font-size: 4em;
                font-weight: lighter;
            }
            
            .padding_h2_m1 {
                font-size: 2em;
            }
            
            .font_seize_p1 {
                font-family: "Segoe_Print_Regular";
            }
            
            .ligne_m1 {
                width: 34%;
                border-bottom: solid 0.4em var(--font_menu_1);
            }
            
            .font_seize_paragraphe {
                font-size: 1.5em;
            }
            
            .seize_font_titre_bas_m1 {
                font-size: 3em;
                padding-left: 0.5em;
            }
            
            .seize_icon_bas_p1 {
                font-size: 4em;
            }
            
            .padding_interligne_p3 {
                padding-bottom: 0.8em;
            }
            
            .padding_bot_fin_parag {
                padding-bottom: 3em;
            }
            /*------menu 2------*/
            
            .color_font_texte_menu_2_titre {
                padding-bottom: 1.5em;
                font-size: 3em;
                font-family: "CroissantOne";
                font-weight: normal;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-image: -webkit-linear-gradient(left, var(--font_menu_2_1), var(--font_menu_2_2), var(--font_menu_2_3));
            }
            
            .padding_h2_m2 {
                padding: 3em 0 3em 0;
            }
            
            .padding_h2_p2 {
                padding-bottom: 1em;
            }
            
            .seize_prix_m2 {
                font-size: 1.1em;
            }
            
            .color_font_texte_menu_2_p1 {
                font-family: "Pax_regular";
                font-weight: normal;
                color: var(--font_menu_2_1);
            }
            
            .color_font_texte_menu_2_p2 {
                font-weight: normal;
                font-family: "Pax_regular";
                color: var(--font_menu_2_2);
            }
            
            .color_font_texte_menu_2_p3 {
                font-weight: normal;
                font-family: "Pax_regular";
                color: var(--font_menu_2_3);
            }
            
            .padding_text_2 {
                padding: 0 8em 0 8em;
            }
            
            .padding_text_3 {
                padding: 0 8em 1em 8em;
            }
            
            .padding_text_h2 {
                padding: 0 2.5em 0 2.5em;
            }
            /*------lingnes des titres menu 2------*/
            
            .triangle_1 {
                width: 0;
                height: 0;
                border-left: 18.5em solid transparent;
                border-right: 2em solid transparent;
                border-bottom: 0.5em solid;
            }
            
            .triangle_2 {
                width: 0;
                height: 0;
                border-left: 18.5em solid transparent;
                border-right: 2em solid transparent;
                border-top: 0.5em solid;
            }
            
            .triangle_3 {
                width: 0;
                height: 0;
                border-left: 2em solid transparent;
                border-right: 18.5em solid transparent;
                border-bottom: 0.5em solid;
            }
            
            .triangle_4 {
                width: 0;
                height: 0;
                border-left: 2em solid transparent;
                border-right: 18.5em solid transparent;
                border-top: 0.5em solid;
            }
            
            .flex_lignes_m2 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
            /*------menu 3------*/
            
            .color_texte_menu_3_titre {
                padding: 0.5em 0 1em 0;
                font-size: 7em;
                font-family: "DancingScript";
                font-weight: normal;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-image: -webkit-linear-gradient(left, var(--font_menu_3_1), var(--font_menu_3_2), var(--font_menu_3_3));
            }
            
            .seize_h2_m3 {
                font-size: 2em;
                font-weight: normal;
            }
            
            .padding_text_m3 {
                padding: 0 7em 0 7em;
            }
            
            .padding_h2_line {
                padding: 0 2em 0 2em;
            }
            
            .font_texte_menu_3_p1 {
                font-family: "Segoe_Print_Regular";
            }
            
            .ligne_m3_1 {
                width: 30%;
                border-bottom: solid 0.5em var(--font_menu_3_1);
            }
            
            .ligne_m3_2 {
                width: 30%;
                border-bottom: solid 0.5em var(--font_menu_3_2);
            }
            
            .ligne_m3_3 {
                width: 30%;
                border-bottom: solid 0.5em var(--font_menu_3_3);
            }
            /*------menu 4------*/
            
            .color_texte_menu_4_titre {
                padding: 0.1em 0 1em 0;
                font-family: "KaushanScript";
                font-size: 6.5em;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-image: -webkit-linear-gradient(left, var(--font_menu_4_1), var(--font_menu_4_2));
            }
            
            .font_p4 {
                font-family: "Segoe_Print_Regular";
            }
            
            .font_seize_paragraphe_m4 {
                font-size: 1.3em;
            }
            
            .padding_pargraphe_m4 {
                padding-bottom: 1em;
            }
            
            .padding_titre_m4 {
                padding-left: 3em;
                padding-right: 3em;
            }
            
            .padding_text_4 {
                padding: 0 7em 0 7em;
            }
            
            .ligne_m4_1 {
                width: 33%;
                height: 0.2em;
                background: linear-gradient(to right, var(--font_menu_4_1), var(--font_menu_4_2));
            }
            
            .ligne_m4_2 {
                width: 33%;
                height: 0.2em;
                background: linear-gradient(to right, var(--font_menu_4_2), var(--font_menu_4_1));
            }
            /*--------------mentions légales-------------*/
            
            .h1_mentions {
                font-size: 3em;
                padding-top: 1em;
            }
            
            .padding_article {
                padding-left: 3em;
            }